<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="./logs/internal-nlog.txt">
	<targets>
		<target xsi:type="File" name="filelog" fileName="./logs/log-${shortdate}.txt"
		        layout="${machinename}|${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="filelog" />
	</rules>
</nlog>