<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="%appdata%/SullyTech/SignalRChatExample/SullyTech.App.Client.Wpf/logs/internal-nlog.log">
	<targets>
		<target xsi:type="File"
		        name="filelog"
		        fileName="${specialfolder:folder=ApplicationData}/SullyTech/SignalRChatExample/SullyTech.App.Client.Wpf/logs/log-${shortdate}.log"
		        layout="${machinename}|${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="filelog" />
	</rules>
</nlog>